* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
# add this two lines 
*.* linguist-language=Laravel
project-docs/* linguist-documentation
